/* class selectors css properties */
.title {
  font-size: 20px;
}
.colored {
  color: blue;
}
.bold {
  font-weight: bold;
}

/* id selectors css properties */
#subtitle {
  font-size: 15px;
}

/* tag selectors css properties */
p {
  font-size: 10px;
}
/* attribute selectors css properties */
span[title="helper"] {
  background: green;
}

/* selectors combination css properties */
/* descendant selector */
body p {
  background: red;
}
/* child selector */
body > p {
  background: yellow;
}
/* adjacent selector */
body + p {
    background:violet;
}
/* sibling selector */
body ~ p {
    background: lightgreen;
}
