@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  color: #352f44;
}

body {
  background: #5B9A8B;
  padding: 10px;
}

.container {
  display: flex;
  gap: 10px;
  flex: 1;
  background: #1450a3;
  padding: 10px;
}

.item {
  font-size: 20px;
  padding: 20px;
  background: #ffc436;
}
