@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  color: #352f44;
}

body {
  background: #5b9a8b;
  padding: 10px;
}

.container {
  display: grid;
  grid-template:
    "main main ."
    "main main .";
  gap: 10px;
  background: #1450a3;
  padding: 10px;
}

.container::selection {
  background: white;
}

.container::before {
  content: " ";
  width: 5px;
  height: 100%;
  background: black;
}

.container::after {
  content: " ";
  width:100%;
  height:3px;
  background:black;
}

